{% load i18n core_tags %}

<h4>{% trans 'Contact' %}</h4>
<p>
    <a href="mailto:data@swisspolar.ch">data@swisspolar.ch</a><br />
    <a href="https://swisspolar.ch">
        https://swisspolar.ch
    </a>
</p>

<h4>Acknowledgments</h4>
<p>
    These data management plans are based on the EPFL SNSF Data Management Plan template version 5.0.
</p>
<p>
    The underlying structure follows the structure of <a href="https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard">RDA-DMP Common standard</a> as far as possible.
</p>