{% extends 'core/base.html' %}
{% load i18n compress staticfiles core_tags %}

{% block head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/header.scss' %}"/>
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static 'core/js/header.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}

<header>
    <div class="hidden-xs">
        <div class="header-image header-image-0 visible">
            <img src="{% static 'core/img/header/SPI-25072-cropped.jpg' %}"></img>
            <p class="attribution">
                <a href="https://www.flickr.com/photos/nasa_goddard/6559334541">Discover Supercomputer 3 (NASA Goddard Space Flight Center)</a> / <a
                    href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
            </p>
        </div>
        <div class="header-image header-image-1">
            <img src="{% static 'core/img/header/SPI-30290-cropped.jpg' %}"></img>
            <p class="attribution">
                <a href="https://www.flickr.com/photos/bulle_de/9221247815">Nasssammlung (Christopher Bulle)</a> / <a
                    href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
            </p>
        </div>
    </div>
    <div class="container header-text">

        <h1>Swiss Polar Institute</h1>

        <div class="row">
            <div class="col-md-9">
                <p>Data management planning</p>
            </div>
        </div>
    </div>
</header>

<div class="container page">
    <div class="row">
        <div class="col-md-9">
            <h2>Create and collaborate on a data management plan</h2>
        </div>
        <div class="col-md-5">
            <h3>{% trans 'Login' %}</h3>

            {% include 'account/login_form.html' %}
        </div>
    </div>
</div>

{% endblock %}
